# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia
7. C++
8. Javascript
9. Go
10. Matlab

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Matplolib
4. Seaborn
5. Scikit-learn
6. Pytorch
7. Keras
8. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter-Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- Evaluating arithmetic expressions in Python
- Create an order list
- List of data science tools
- Creating H3 stype heading

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Usman Farooq